/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors - all the new ones are in caps
$red-color: #c45524 !default;
$red-color-dark: #A4485E !default;
$orange-color: #ed9f77 !default;
$blue-color: #224653 !default;
$blue-color-dark: #224653 !default;
$cyan-color: #2698ba !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #86915D !default;
$green-color-lime: #C7B55D !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #d2437a !default;
$pink-color-light: #dca3b9 !default;
$yellow-color: #e4c259 !default;

$grey-color: #D5DCDF !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #224653;
$grey-900: #212529;

$white-color: #F9F8F4 !default;
$black-color: #4D3417 !default;

// Theme colors

$code-bg-color-light: rgba($green-color-lime, 0.05);
$code-bg-color-dark: #4D3417 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
